<label for="customer-email">Enter your email:</label>
<input
  id="customer-email"
  name="customerEmail"
  class="js-constraint-validation"
  type="email"
  placeholder=""
  required
  minlength="2"
/>
