<!-- TODO Remove "required" from assistive technologies -->
<label for="customer-first-name">First name (required)</label>
<input
  id="customer-first-name"
  name="customerFirstName"
  class="js-validate"
  type="text"
  placeholder=""
  required
/>
