<label for="customer-first-name">
  First name <span aria-hidden="true">(required)</span>
</label>
<p hidden id="customer-first-name-error" class="error" aria-live="polite">
  <!-- Text content via JS -->
</p>
<input
  id="customer-first-name"
  name="customerFirstName"
  class="js-validate"
  type="text"
  required
  aria-describedby="customer-first-name-error"
/>
