<label for="demo-url">
  URL <span aria-hidden="true">(required)</span>
</label>
<input
  id="demo-url"
  name="demoUrl"
  class="js-validate"
  type="url"
  required
  aria-describedby="demo-url-error"
/>
<p hidden id="demo-url-error" class="error">
  <!-- Text content via JS -->
</p>
