<label for="demo-too-long">Maximum five-character text value</label>
<input
  id="demo-too-long"
  name="demoTooLong"
  class="js-validate"
  type="text"
  maxlength="5"
  aria-describedby="demo-too-long-error"
/>
<p hidden id="demo-too-long-error" class="error">
  <!-- Text content via JS -->
</p>
