<label for="demo-range-odd">Odd number between 11 and 21</label>
<input
  id="demo-range-odd"
  name="demoRangeOdd"
  class="js-validate"
  type="number"
  min="11"
  max="21"
  step="2"
  aria-describedby="demo-range-odd-error"
/>
<p hidden id="demo-range-odd-error" class="error">
  <!-- Text content via JS -->
</p>
