<label for="demo-pattern">Special 3-5 digit code</label>
<input
  id="demo-pattern"
  name="demoPattern"
  class="js-validate"
  type="text"
  pattern="[0-9]{3,5}"
  minlength="3"
  maxlength="5"
  aria-describedby="demo-pattern-error"
/>
<p hidden id="demo-pattern-error" class="error">
  <!-- Text content via JS -->
</p>
