<label for="demo-range-even">
  Even number between 10 and 20
  <span aria-hidden="true">(required)</span>
</label>
<input
  id="demo-range-even"
  name="demoRangeEven"
  class="js-validate"
  type="number"
  min="10"
  max="20"
  step="2"
  required
  aria-describedby="demo-range-even-error"
/>
<p hidden id="demo-range-even-error" class="error">
  <!-- Text content via JS -->
</p>
