<div>
  <input id="coding" type="checkbox" name="interests" value="coding" />
  <label for="coding">Coding</label>
</div>
<div>
  <input id="music" type="checkbox" name="interests" value="music" />
  <label for="music">Music</label>
</div>
<div>
  <input id="art" type="checkbox" name="interests" value="art" />
  <label for="art">Art</label>
</div>
<div>
  <input id="sports" type="checkbox" name="interests" value="sports" />
  <label for="sports">Sports</label>
</div>
