---
import { getISOFormattedDate } from '../../utils/get-iso-formatted-date';

// 1 year ago today.
const oneYearAgoToday = new Date();
oneYearAgoToday.setUTCFullYear(oneYearAgoToday.getUTCFullYear() - 1);
---

<label for="purchase-date">
  Purchase date (<span aria-hidden="true">required,</span>must be within the
  last year)
</label>
<input
  id="purchase-date"
  name="purchaseDate"
  class="js-validate"
  type="date"
  min={getISOFormattedDate(oneYearAgoToday)}
  max={getISOFormattedDate(new Date())}
  required
  aria-describedby="purchase-date-error"
/>
<p hidden id="purchase-date-error" class="error" aria-live="polite">
  <!-- Text content via JS -->
</p>
