---
import PurchaseDate from '../form-fields/PurchaseDate.astro';
---

<fieldset>
  <legend>
    Purchase details
    <span aria-hidden="true" class="hint">(required)</span>
  </legend>
  <div class="field-wrapper">
    <PurchaseDate />
  </div>
</fieldset>
