---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Series: Progressively Enhanced Form Validation"
  mainClass="layout-wide"
>
  <h1>Series: Progressively Enhanced Form Validation</h1>
  <p>
    This article series is about progressively enhancing the form validation
    experience starting with native HTML validation features as the foundation.
  </p>
  <h2>Articles</h2>
  <ul>
    <li>
      <a
        href="https://cloudfour.com/thinks/progressively-enhanced-form-validation-part-1-html-and-css/"
      >
        Part 1: HTML and CSS
      </a>
    </li>
    <li>
      <a
        href="https://cloudfour.com/thinks/progressively-enhanced-form-validation-part-2-layering-in-javascript/"
      >
        Part 2: Layering in JavaScript
      </a>
    </li>
    <li>
      <a
        href="https://cloudfour.com/thinks/progressively-enhanced-form-validation-part-3-validating-a-checkbox-group/"
      >
        Part 3: Validating a checkbox group
      </a>
    </li>
    <li>
      <a
        href="https://cloudfour.com/thinks/progressively-enhanced-form-validation-part-4-custom-validation-messages/"
      >
        Part 4: Custom validation messages
      </a>
    </li>
  </ul>
  <h2>Demos</h2>
  <ul>
    <li><a href="/part-1">Part 1: Demo</a></li>
    <li><a href="/part-2">Part 2: Demo</a></li>
    <li><a href="/part-3">Part 3: Demo</a></li>
    <li><a href="/part-4">Part 4: Demo</a></li>
  </ul>
</Layout>
