---
import Layout from '../layouts/Layout.astro';

import FormWithSvelteAndVest from '../components/FormWithSvelteAndVest.svelte';
import FormWithVanillaJS from '../components/FormWithVanillaJS.astro';
---

<Layout title="Demo land!">
  <main>
    <h2>Base experience (no JavaScript)</h2>

    <h2>Progressively enhance with vanilla JavaScript</h2>
    <FormWithVanillaJS />
    <h2>Svelte + Vest</h2>
    <FormWithSvelteAndVest client:idle />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  /**
   * Delay  the `:invalid` and `:valid` UI states 
   * - The `placeholder` attribute (can be blank) is required for this to work.
   * - Doesn't seem to work on date input elements.
   * - Doesn't show invalid state on submit.
   * @see https://www.bram.us/2021/01/28/form-validation-you-want-notfocusinvalid-not-invalid/
   */

  :global(input:not(:focus):not(:placeholder-shown):invalid) {
    border-color: red;
  }

  :global(input:not(:focus):not(:placeholder-shown):valid) {
    border-color: green;
  }
</style>
