---
import Layout from '../layouts/Layout.astro';
import FormExample from '../components/FormExample.svelte';
---

<Layout title="Demo land!">
  <main>
    <FormExample client:idle />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
