---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Progressively Enhancing the Form Validation Experience">
  <h1>Progressively Enhancing the Form Validation Experience</h1>
  <p>
    This article series is about progressively enhancing the form validation
    experience.
  </p>
  <h2>Articles</h2>
  <ul>
    <li>
      <a href="#">
        Progressively Enhancing the Form Validation Experience, Part 1
      </a>
    </li>
    <li>
      <a href="#">
        Progressively Enhancing the Form Validation Experience, Part 2
      </a>
    </li>
    <li>Progressively Enhancing the Form Validation Experience, Part 3</li>
    <li>Progressively Enhancing the Form Validation Experience, Part 4</li>
  </ul>
  <h2>Demos</h2>
  <ul>
    <li><a href="/part-1">Part 1: Demo</a></li>
    <li><a href="/part-2">Part 2: Demo</a></li>
  </ul>
</Layout>
