---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Progressively Enhancing the Form Validation Experience"
  mainClass="layout-wide"
>
  <h1>
    Article Series: Progressively Enhancing the Form Validation Experience
  </h1>
  <p>
    This article series is about progressively enhancing the form validation
    experience.
  </p>
  <h2>Articles</h2>
  <ul>
    <li>
      <a href="#">Part 1</a>
    </li>
    <li>
      <a href="#">Part 2</a>
    </li>
    <li>
      <a href="#">Part 3</a>
    </li>
    <li>Part 4</li>
  </ul>
  <h2>Demos</h2>
  <ul>
    <li><a href="/part-1">Part 1: Demo</a></li>
    <li><a href="/part-2">Part 2: Demo</a></li>
    <li><a href="/part-3">Part 3: Demo</a></li>
  </ul>
</Layout>
