---
import Layout from '../layouts/Layout.astro';
import FormNoJs from '../components/FormNoJs.astro';
---

<Layout title="Demo land!">
  <h1>Progressively Enhancing the Form Validation Experience, Part&nbsp;1</h1>
  <p>This form uses browser built-in form validation (no JavaScript).</p>
  <FormNoJs />
</Layout>
