---
import Layout from '../layouts/Layout.astro';
import FormNoJavaScript from '../components/FormNoJavaScript.astro';
---

<Layout title="Demo land!">
  <h1>Progressively Enhancing the Form Validation Experience, Part&nbsp;1</h1>
  <p>This form uses browser built-in form validation (no JavaScript).</p>
  <FormNoJavaScript />
</Layout>
