---
import FormWithCustomErrors from '../components/FormWithCustomErrors.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Progressively Enhanced Form Validation, Part 4: Custom validation messages"
>
  <h1>
    Progressively Enhanced Form Validation, Part 4: Custom validation messages
  </h1>
  <p>
    This form uses browser built-in form validation when JavaScript is not
    available.
  </p>
  <p>When JavaScript is available:</p>
  <ul>
    <li>
      The form is progressively enhanced using the Constraint Validation API
    </li>
    <li>The ValidityState API is used to create custom validation messages</li>
    <li>
      Custom JavaScript logic runs to handle the "interests" checkbox group
    </li>
  </ul>
  <p>
    <a
      href="https://cloudfour.com/thinks/progressively-enhanced-form-validation-part-4-custom-validation-messages/"
    >
      Read the accompanying Cloud Four article
    </a>
  </p>
  <FormWithCustomErrors />
</Layout>
