---
import FormWithVanillaJS from '../components/FormWithVanillaJS.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Progressively Enhancing the Form Validation Experience, Part 3">
  <h1>Progressively Enhancing the Form Validation Experience, Part&nbsp;3</h1>
  <FormWithVanillaJS />
</Layout>
