---
import FormNoJavaScript from '../components/FormNoJavaScript.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Progressively Enhancing the Form Validation Experience, Part 1">
  <h1>Progressively Enhancing the Form Validation Experience, Part&nbsp;1</h1>
  <p>This form uses browser built-in form validation (no JavaScript).</p>
  <p>
    <a
      href="https://cloudfour.com/thinks/progressively-enhanced-form-validation-part-1-html-and-css/"
    >
      Read the accompanying Cloud Four article
    </a>
  </p>
  <FormNoJavaScript />
</Layout>
