---
import FormWithVanillaJS from '../components/FormWithVanillaJS.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Progressively Enhanced Form Validation, Part 2: Layering in JavaScript"
>
  <h1>
    Progressively Enhanced Form Validation, Part 2: Layering in JavaScript
  </h1>
  <p>
    This form uses browser built-in form validation when JavaScript is not
    available.
  </p>
  <p>
    When JavaScript is available, the form is progressively enhanced using the
    Constraint Validation API.
  </p>
  <p>
    <a
      href="https://cloudfour.com/thinks/progressively-enhanced-form-validation-part-2-layering-in-javascript/"
    >
      Read the accompanying Cloud Four article
    </a>
  </p>
  <FormWithVanillaJS />
</Layout>
