---
import Layout from '../layouts/Layout.astro';
import FormWithVanillaJS from '../components/FormWithVanillaJS.astro';
import InterestsFieldset from '../components/fieldsets/InterestsFieldset.astro';
---

<Layout title="Progressively Enhancing the Form Validation Experience, Part 2">
  <h1>Progressively Enhancing the Form Validation Experience, Part&nbsp;3</h1>
  <FormWithVanillaJS />
</Layout>
