---
import FormWithVanillaJS from '../components/FormWithVanillaJS.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Progressively Enhancing the Form Validation Experience, Part 3">
  <h1>Progressively Enhancing the Form Validation Experience, Part&nbsp;3</h1>
  <p>
    This form uses browser built-in form validation when JavaScript is not
    available.
  </p>
  <p>
    When JavaScript is available, the form is progressively enhanced using the
    Constraint Validation API. Custom JavaScript logic was added to handle the
    "interests" checkbox group.
  </p>
  <FormWithVanillaJS />
</Layout>
