---
import CustomerDetailsFieldset from './fieldsets/CustomerDetailsFieldset.astro';
import InterestsFieldset from './fieldsets/InterestsFieldset.astro';
import PurchaseDetailsFieldset from './fieldsets/PurchaseDetailsFieldset.astro';
---

<form id="demo-form" action="" method="post">
  <CustomerDetailsFieldset />
  <PurchaseDetailsFieldset />
  <InterestsFieldset />
  <button type="submit">Submit</button>
</form>
