---
import CustomerEmail from './form-fields/CustomerEmail.astro';
import PurchaseDate from './form-fields/PurchaseDate.astro';
import CustomerNameFirst from './form-fields/CustomerNameFirst.astro';
import CustomerNameLast from './form-fields/CustomerNameLast.astro';
import ToggleCheckbox from './form-fields/ToggleCheckbox.astro';
---

<form id="demo-form-2" action="" method="post">
  <fieldset>
    <legend>Customer details</legend>
    <div class="field-wrapper">
      <CustomerNameFirst />
      <p hidden class="error"></p>
    </div>
    <div class="field-wrapper">
      <CustomerNameLast />
      <p hidden class="error"></p>
    </div>
    <div class="field-wrapper">
      <CustomerEmail />
      <p hidden class="error"></p>
    </div>
  </fieldset>

  <fieldset>
    <legend>Purchase details</legend>
    <div class="field-wrapper">
      <PurchaseDate />
      <p hidden class="error"></p>
    </div>
  </fieldset>

  <fieldset>
    <legend>Interests</legend>
    <span class="pseudo-label">Choose at least one interest.</span>
    <div class="field-wrapper checkbox-field-wrapper js-checkbox-field-wrapper">
      <ToggleCheckbox
        id="coding"
        name="interests"
        value="coding"
        label="Coding"
      />
      <ToggleCheckbox id="music" name="interests" value="music" label="Music" />
      <ToggleCheckbox id="art" name="interests" value="art" label="Art" />
      <ToggleCheckbox
        id="sports"
        name="interests"
        value="sports"
        label="Sports"
      />
      <p hidden class="error js-interests-validation-error"></p>
    </div>
  </fieldset>

  <button type="submit">Submit</button>
</form>
