---
import CustomerEmail from './form-fields/CustomerEmail.astro';
import PurchaseDate from './form-fields/PurchaseDate.astro';
import Interests from './form-fields/Interests.astro';
---

<form id="demo-form-2" novalidate action="" method="post">
  <fieldset>
    <legend>Customer details</legend>
    <CustomerEmail />
    <p class="error"></p>
  </fieldset>

  <fieldset>
    <legend>Purchase details</legend>
    <PurchaseDate />
    <p class="error"></p>
  </fieldset>

  <fieldset>
    <legend>Interests</legend>
    <Interests />
    <p class="error js-interests-validation-error"></p>
  </fieldset>

  <button type="submit">Submit</button>
</form>

<style>
  .error {
    color: red;
  }
</style>

<script>
  /** @type {HTMLFormElement} */
  const form: HTMLFormElement = document.querySelector('#demo-form-2');
  // Get input elements that can be validated using the Constraint Validation API.
  const inputEls: NodeListOf<HTMLInputElement> = document.querySelectorAll(
    '.js-constraint-validation'
  );

  /**
   * Validate input fields using the Constraint Validation API
   * @returns {boolean} Was an invalid field found?
   */
  const useConstraintValidationApi = (): boolean => {
    let firstInvalidInputEl: HTMLInputElement | null = null;
    let areConstraintValidationFieldsValid = true;
    // Loop through all input elements and use the Constraint Validation API to
    // check if the input is valid.
    inputEls.forEach((inputEl) => {
      const isInputValid = inputEl.checkValidity();
      // If input is not valid and we haven't found an invalid input element yet,
      // set the invalid input element to the current input element.
      // Also, update the validation state.
      if (!isInputValid && !firstInvalidInputEl) {
        firstInvalidInputEl = inputEl;
        areConstraintValidationFieldsValid = false;
      }
      // If valid: clear error message.
      // If not valid: use validation message from Constraint Validation API.
      inputEl.nextElementSibling.textContent = isInputValid
        ? ''
        : inputEl.validationMessage;
    });
    // If there is an invalid input element, focus on it.
    firstInvalidInputEl?.focus();
    // Return if all input elements are valid.
    return areConstraintValidationFieldsValid;
  };

  /**
   * Validate the "interests" checkbox group.
   * @return {boolean} Is the "interests" checkbox group valid?
   */
  const validateInterestsCheckboxGroup = (): boolean => {
    // Keep track of if the "interests" checkbox group is valid.
    let isInterestsValid: boolean;
    // Get the element where the validation error message will be displayed.
    const errorMessageEl = document.querySelector(
      '.js-interests-validation-error'
    );
    // Get the form data to get all of the 'interests' checked values. Check
    // if any "interests" were checked.
    if (new FormData(form).getAll('interests').length === 0) {
      isInterestsValid = false;
      // Set validation error message
      errorMessageEl.textContent = 'Please choose at least one interest.';
    } else {
      isInterestsValid = true;
      // Unset validation error
      errorMessageEl.textContent = '';
    }
    // Return the validation state.
    return isInterestsValid;
  };

  /**
   * Handler for form `submit` event
   * @param {SubmitEvent} event
   */
  const onFormSubmit = (event: SubmitEvent) => {
    const areConstraintValidationFieldsValid = useConstraintValidationApi();
    const isInterestsValid = validateInterestsCheckboxGroup();

    // Stop form submit if there are any input validation errors
    if (!areConstraintValidationFieldsValid || !isInterestsValid) {
      event.preventDefault();
    }
  };

  form.addEventListener('submit', onFormSubmit);
</script>
