---
import CustomerEmail from './form-fields/CustomerEmail.astro';
import PurchaseDate from './form-fields/PurchaseDate.astro';
import Interests from './form-fields/Interests.astro';
---

<form id="demo-form-2" novalidate action="" method="post">
  <fieldset>
    <legend>Customer details</legend>
    <CustomerEmail />
    <span class="error"></span>
  </fieldset>

  <fieldset>
    <legend>Purchase details</legend>
    <PurchaseDate />
    <span class="error"></span>
  </fieldset>

  <fieldset>
    <legend>Interests</legend>
    <Interests />
    <span class="error js-interests-validation-error"></span>
  </fieldset>

  <button type="submit">Submit</button>
</form>

<script>
  /** @type {HTMLFormElement} */
  const form: HTMLFormElement = document.querySelector('#demo-form-2');
  // Get input elements that can be validated using the Constraint Validation API.
  const inputEls: NodeListOf<HTMLInputElement> = document.querySelectorAll(
    '.js-constraint-validation'
  );

  /**
   * Validate input fields using the Constraint Validation API
   * @returns {boolean} Was an invalid field found?
   */
  const useConstraintValidationApi = (): boolean => {
    // Keep track of if a validation error was found.
    let hasInvalidField: boolean;
    inputEls.forEach((inputEl) => {
      // Check if the input is valid via the Constraint Validation API.
      if (!inputEl.validity.valid) {
        // If `hasInvalidField` has not been set, that means this input element is
        // the first input that is not valid. Use that knowledge to:
        // 1. Set the `hasInvalidField` value
        // 2. Set focus on the input
        if (!hasInvalidField) {
          hasInvalidField = true; // 1
          inputEl.focus(); // 2
        }
        // The validation error message displays in the next sibling element.
        // Use the validation message from the Constraint Validation API
        inputEl.nextSibling.textContent = inputEl.validationMessage;
      } else {
        // Make sure to clear the validation error message if the input is valid.
        inputEl.nextSibling.textContent = '';
      }
    });
    return hasInvalidField;
  };

  /**
   * Validate the "interests" checkbox group.
   * @return {boolean} Is the "interests" checkbox group valid?
   */
  const validateInterestsCheckboxGroup = (): boolean => {
    // Keep track of if the "interests" checkbox group is valid.
    let isInterestsValid: boolean;

    // Get the element where the validation error message will be displayed.
    const errorMessageEl = document.querySelector(
      '.js-interests-validation-error'
    );

    // Get the form data to get all of the 'interests' checked values. Check
    // if any "interests" were checked.
    if (new FormData(form).getAll('interests').length === 0) {
      isInterestsValid = false;
      // Set validation error message
      errorMessageEl.textContent = 'Please choose at least one interest.';
    } else {
      isInterestsValid = true;
      // Unset validation error
      errorMessageEl.textContent = '';
    }

    return isInterestsValid;
  };

  /**
   * Handler for form `submit` event
   * @param {SubmitEvent} event
   */
  const onFormSubmit = (event: SubmitEvent) => {
    const hasConstraintValidationError = useConstraintValidationApi();
    const isInterestsValid = validateInterestsCheckboxGroup();

    // Stop form submit if there are any input validation errors
    if (hasConstraintValidationError || !isInterestsValid) {
      event.preventDefault();
    }
  };

  form.addEventListener('submit', onFormSubmit);
</script>
